name: Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Build sdist
      run: python setup.py sdist
    - uses: vimtor/action-zip@v1
      with:
        files: dist/ examples/ example_api.bat example_stream.bat install_examples.bat README.md
        dest: fc-trading.py.zip
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v3